<%= render 'layouts/header' %>
<div class="heading side-space">
<script type="text/javascript">
var num = 1;
function addCreativeFieldForm() {
  var formDiv = document.getElementById("creative_fields_0");
  var cloneNode = formDiv.cloneNode(true);
  cloneNode.id = "creative_fields_" + num;
  var children = cloneNode.children;
  Array.from(children).forEach(function(elem) {
    switch(elem.tagName) {
      case "LABEL":
        elem.htmlFor = "member_creative_fields_attributes_"+ num +"_field";
        break;
      case "INPUT":        
        elem.id = "field" + num;
        elem.name = "member[creative_fields_attributes][" + num + "][field]";
        elem.value = "";
        break;
      case "BUTTON":
        elem.id = num;
        break;
      default:
        break;
    }
  });
  var formNode = document.getElementById("creative_fields_form");
  formNode.appendChild(cloneNode);
  num++;
}
function removeCreativeFieldForm(event) {
  var i = event.id;
  while(i < num - 1) {
    var inputNode = document.getElementById("field" + i);
    i++;
    inputNode.value = document.getElementById("field" + i).value;
  }
  var lastElement = document.getElementById("creative_fields_" + i);
  lastElement.parentNode.removeChild(lastElement);
  num--;
}
</script>

<%= form_for @member do |form| %>
  <div class="field">
  <%= form.label :member_name %>
  <%= form.text_field :member_name, id: :member_name %>
</div>

<div class="field">
  <%= form.label :twitter_id %>
  <%= form.text_field :twitter_id, id: :twitter_id %>
</div>

<div class="field">
  <%= form.label :icon_img %>
  <%= form.text_field :icon_img, id: :icon_img %>
</div>

<div class="field">
  <%= form.label :header_img %>
  <%= form.text_field :header_img, id: :header_img %>
</div>

<div class="field">
  <%= form.label :plofile %>
  <%= form.text_area :plofile, id: :plofile %>
</div>

<div class="field">
  <%= form.label :align %>
  <%= form.select :align, id: :align Member.aligns.keys.to_a, {} %>
</div>

<div id="creative_fields_form">
<%= form.fields_for :creative_fields do |cf| %>
  <div class="field" id="creative_fields_0">
    <%= cf.label :field %>
    <%= cf.text_field :field, id: :field %>
    <%= button_tag type:'button', onclick:"removeCreativeFieldForm(this)", id: '0' do %>
    remove
    <% end %>
  </div>
<% end %>
</div>
<%= button_tag type: 'button', onclick: "addCreativeFieldForm()" , class: "btn btn-info" do %>
  <%= 'addField' %>
<% end %>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
</div>
<%= render 'layouts/footer' %>