<%= render 'layouts/header' %>
<ul class="body text">
<li><%= @member.member_name %></li>
<li><%= @member.twitter_id %></li>
<li><%= @member.icon_img %></li>
<li><%= @member.header_img %></li>
<li><%= @member.plofile %></li>
<%= render @creative_fields %>
</ul>
<%= render 'layouts/footer' %>